<input type="range" class="slider is-large is-fullwidth"
       [min]="0"
       [max]="numberOfSamples - 1"
       [step]="1"
       [(ngModel)]="currentSampleIndex">

<div class="buttons">
  <button type="button" class="button is-small" (click)="jumpToFirstSample()">
        <span class="icon is-small">
          <i class="fas fa-fast-backward"></i>
        </span>
  </button>
  <button type="button" class="button is-small" (click)="jumpOneSampleBack()">
        <span class="icon is-small">
          <i class="fas fa-step-backward"></i>
        </span>
  </button>
  <button type="button" class="button is-small" (click)="play()" *ngIf="subscription == null">
        <span class="icon is-small">
          <i class="fas fa-play"></i>
        </span>
  </button>
  <button type="button" class="button is-small" (click)="pause()" *ngIf="subscription != null">
        <span class="icon is-small">
          <i class="fas fa-pause"></i>
        </span>
  </button>
  <button type="button" class="button is-small" (click)="jumpOneSampleForward()">
        <span class="icon is-small">
          <i class="fas fa-step-forward"></i>
        </span>
  </button>
  <button type="button" class="button is-small" (click)="jumpToLastSample()">
        <span class="icon is-small">
          <i class="fas fa-fast-forward"></i>
        </span>
  </button>
  <span>Sample {{currentSampleIndex + 1}} of {{numberOfSamples}}</span>
</div>
