<input type="range" class="slider is-large is-fullwidth"
       [min]="0"
       [max]="numberOfSamples - 1"
       [step]="1"
       [(ngModel)]="currentSampleIndex">

<div class="buttons">
  <button type="button" class="button is-small" (click)="jumpToFirstSample()">
    <fa-icon [icon]="faFastBackward"></fa-icon>
  </button>
  <button type="button" class="button is-small" (click)="jumpOneSampleBack()">
    <fa-icon [icon]="faStepBackward"></fa-icon>
  </button>
  <button type="button" class="button is-small" (click)="play()" *ngIf="subscription == null">
    <fa-icon [icon]="faPlay"></fa-icon>
  </button>
  <button type="button" class="button is-small" (click)="pause()" *ngIf="subscription != null">
    <fa-icon [icon]="faPause"></fa-icon>
  </button>
  <button type="button" class="button is-small" (click)="jumpOneSampleForward()">
    <fa-icon [icon]="faStepForward"></fa-icon>
  </button>
  <button type="button" class="button is-small" (click)="jumpToLastSample()">
    <fa-icon [icon]="faFastForward"></fa-icon>
  </button>
  <span>Sample {{currentSampleIndex + 1}} of {{numberOfSamples}}</span>
</div>
