<div class="root-container">
  <div class="top-container">
    <div class="scene-view">
      <canvas manipulator
              (manipulationBegin)="cameraDriver.handleManipulationBegin(three.camera)"
              (manipulationRotationUpdate)="cameraDriver.handleRotationUpdate($event)"
              (manipulationTranslationUpdate)="cameraDriver.handleTranslationUpdate($event)"
              (manipulationZoomUpdate)="cameraDriver.handleZoomUpdate($event)"
              (manipulationEnd)="cameraDriver.handleManipulationEnd()"
              three #three="three">
        <camera [position]="cameraDriver.cameraPosition" [target]="cameraDriver.cameraTarget" fov="60"></camera>
        <scene>
          <light [position]="cameraDriver.cameraPosition" [target]="cameraDriver.cameraTarget"></light>
          <electron *ngIf="showElectron" [position]="currentSample.position"></electron>
          <trajectory *ngIf="showTrajectory" [samples]="lorentzService.samples"></trajectory>
          <grid *ngIf="showGrid"></grid>
          <axes *ngIf="showAxes"></axes>
        </scene>
      </canvas>
      <div class="right-panel-button-overlay">
        <button *ngIf="isRightPanelExpanded" type="button" class="button" (click)="collapseRightPanel()">
          <i class="fas fa-angle-double-right"></i>
        </button>
        <button *ngIf="!isRightPanelExpanded" type="button" class="button" (click)="expandRightPanel()">
          <i class="fas fa-angle-double-left"></i>
        </button>
      </div>
      <div class="bottom-panel-button-overlay">
        <button *ngIf="isBottomPanelExpanded" type="button" class="button" (click)="collapseBottomPanel()">
          <i class="fas fa-angle-double-down"></i>
        </button>
        <button *ngIf="!isBottomPanelExpanded" type="button" class="button" (click)="expandBottomPanel()">
          <i class="fas fa-angle-double-up"></i>
        </button>
      </div>
      <div class="copyright-overlay">
        &copy; 2018 by <a href="http://agibalov.io" target="_blank">Andrey Agibalov</a>
      </div>
    </div>
    <div class="right-panel" [@rightPanelState]="rightPanelState">
      <div class="content">
        <app-vector-editor name="Start Velocity (m/s)" [range]="1e6" [(ngModel)]="lorentzService.startVelocity"></app-vector-editor>
        <app-vector-editor name="Electric Field (V/m)" [range]="1e-5" [(ngModel)]="lorentzService.electricField"></app-vector-editor>
        <app-vector-editor name="Magnetic Field (T)" [range]="1e-10" [(ngModel)]="lorentzService.magneticField"></app-vector-editor>

        <pre class="checkboxes">

  <label class="checkbox"><input type="checkbox" [(ngModel)]="showElectron"> Show electron</label>
  <label class="checkbox"><input type="checkbox" [(ngModel)]="showTrajectory"> Show trajectory</label>
  <label class="checkbox"><input type="checkbox" [(ngModel)]="showGrid"> Show grid</label>
  <label class="checkbox"><input type="checkbox" [(ngModel)]="showAxes"> Show axes</label>

  <span class="has-text-weight-bold">Number of Samples</span>: <input type="range" class="slider is-small is-circle is-success"
                                                                      [min]="10" [max]="5000" [step]="1"
                                                                      [(ngModel)]="lorentzService.numberOfSamples"> ({{lorentzService.numberOfSamples}})
  <span class="has-text-weight-bold">Time of Flight (s)</span>: <input type="range" class="slider is-small is-circle is-success"
                                                                       [min]="0.1" [max]="10" [step]="1e-3"
                                                                       [(ngModel)]="lorentzService.timeOfFlight"> ({{lorentzService.timeOfFlight | exponential}})
            </pre>

        <app-player [numberOfSamples]="lorentzService.numberOfSamples"
                    [(currentSampleIndex)]="currentSampleIndex">
        </app-player>

        <share-buttons
          [url]="url"
          [theme]="'default'"
          [include]="['twitter', 'reddit', 'facebook', 'linkedin', 'email', 'copy']"
          [showIcon]="false"
          [showText]="true"
          [size]="-4"
          [title]="'Visualization of a charged particle in the electromagnetic field'"
          [description]="'Visualization of a charged particle in the electromagnetic field'"
          [tags]="'electronmodel'"
          [autoSetMeta]="false">
        </share-buttons>
      </div>
    </div>
  </div>
  <div class="bottom-container" [@bottomPanelState]="bottomPanelState">
    <div class="container is-fluid">
          <pre>
timestamp: {{currentSample.timestamp | exponential}}
position: {{currentSample.position | vector}}
velocity: {{currentSample.velocity | vector}}
acceleration: {{currentSample.acceleration | vector}}</pre>
    </div>
  </div>
</div>
